{% extends "main.html" %}
{% block content %}
<body>
<div style="float: left">
    <table class="table" border="1">
        <div>
            <h3>
            Enter Publication Number : {{ publication_number }}
            </h3>
            <form method="post">
                <div>
                    <input type="text" name="publication_number">
                </div>
                <div>
                    <input type="submit">
                </div>
            </form>
        </div>

        <hr>

        <caption>
            Patent Similarity Higher than 75%.
        </caption>
        <tr>
            <th>
                #
            </th>
            <th>
                Publication Number
            </th>
            <th>
                Title
            </th>
            <th>
                Top Terms
            </th>
            <th>
                URL
            </th>
        </tr>
        {% set n = 0 %}
        {% for item in data %}
        {% set n = n + 1%}
        <tr>
            <td>
                {{n}}
            </td>
            <td>
                {{item.publication_number}}
            </td>
            <td>
                {{item.title}}
            </td>
            <td>
                {{item.top_terms}}
            </td>
            <td>
                {{item.url}}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}